<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

	<http pattern="/resources/css/**" security="none"/>
	<http pattern="/resources/images/**" security="none"/>
	<http pattern="/resources/scripts/**" security="none"/>
 
	<http use-expressions="true" access-denied-page="/accessDenied.jsp" >
		<form-login login-page="/signin" default-target-url="/home" login-processing-url="/signin/authenticate" authentication-failure-url="/signin?error=bad_credentials"/>		
		<logout logout-success-url="/signin" />
		<intercept-url pattern="/admin/**" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/group/**" access="hasRole('ROLE_USER')" />
		<intercept-url pattern="/group" access="hasRole('ROLE_USER')" />
		<intercept-url pattern="/home" access="hasRole('ROLE_USER')" />
		<intercept-url pattern="/**" access="permitAll" />
		<intercept-url pattern="/auth/**" access="permitAll" />
		<intercept-url pattern="/disconnect/facebook" access="permitAll" />
		<remember-me user-service-ref="userDetailsService" />

	<!--<session-management invalid-session-url="/invalidsession.jsp">
			<concurrency-control max-sessions="1"
				error-if-maximum-exceeded="true" />
		</session-management>-->

		<!--  Spring Social Security authentication filter -->
		<custom-filter ref="socialAuthenticationFilter" before="PRE_AUTH_FILTER" />
	</http>
 
	<beans:bean id="customEncoder" class="com.youthministry.security.CustomPasswordEncoder" />
	<beans:bean id="customUserService"
		class="com.youthministry.security.CustomUserDetailService" >
	</beans:bean>

	<authentication-manager alias="authenticationManager" >
		<authentication-provider user-service-ref="customUserService">
			<password-encoder ref="customEncoder" />
		</authentication-provider>
		<!-- Spring Social Security authentication provider -->
		<authentication-provider ref="socialAuthenticationProvider" />
	</authentication-manager>

	<jdbc-user-service id="userDetailsService" 
					data-source-ref="dataSource" 
					users-by-username-query="select username, password, true from User where username = ?"
					authorities-by-username-query="select u.username username, r.name authority from user_roles u_roles, user u, roles r where u.username = ?"/>

	<beans:bean id="textEncryptor" class="org.springframework.security.crypto.encrypt.Encryptors"
		factory-method="noOpText" />
		
	<beans:bean id="passwordEncoder" class="org.springframework.security.crypto.password.NoOpPasswordEncoder"
		factory-method="getInstance" />

</beans:beans>
