<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:c="http://www.springframework.org/schema/c"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<!-- Property Editors -->

	<!-- Beans Declaration -->
	<bean id="User" class="com.youthministry.domain.User" />
	<bean id="UserProfile" class="com.youthministry.domain.UserProfile" />
	<bean id="Event" class="com.youthministry.domain.Event" />
	<bean id="Group" class="com.youthministry.domain.Group" />
	<bean id="Role" class="com.youthministry.domain.Role" />
	<bean id="Location" class="com.youthministry.domain.Location" />
	<bean id="Image" class="com.youthministry.domain.Image" />
	<bean id="PageContent" class="com.youthministry.domain.Content" />
	<bean id="Page" class="com.youthministry.domain.Page" />
	<bean id="Renderer" class="com.youthministry.domain.Renderer" />
	<bean id="Template" class="com.youthministry.domain.Template" />
	<bean id="Site" class="com.youthministry.domain.Site" />

	<bean id="finderIntroductionAdvisor" class="com.youthministry.genericdao.finder.impl.FinderIntroductionAdvisor" />

	<bean id="abstractDaoTarget" class="com.youthministry.genericdao.impl.GenericDaoHibernateImpl"
		abstract="true">
		<property name="sessionFactory">
			<ref bean="SessionFactory" />
		</property>
	</bean>

	<bean id="abstractDao" class="org.springframework.aop.framework.ProxyFactoryBean"
		abstract="true">
		<property name="interceptorNames">
			<list>
				<value>finderIntroductionAdvisor</value>
			</list>
		</property>
	</bean>


	<!-- User Service Declaration -->
	<bean id="PageContentService" class="com.youthministry.service.impl.ContentServiceImpl">
		<property name="pageContentDao" ref="contentDao" />
	</bean>
	<bean id="EventService" class="com.youthministry.service.impl.EventServiceImpl">
		<property name="eventDao" ref="eventDao" />
	</bean>
	<bean id="GroupService" class="com.youthministry.service.impl.GroupServiceImpl">
		<property name="groupDao" ref="groupDao" />
	</bean>
	<bean id="ImageService" class="com.youthministry.service.impl.ImageServiceImpl">
		<property name="imageDao" ref="imageDao" />
	</bean>
	<bean id="LocationService" class="com.youthministry.service.impl.LocationServiceImpl">
		<property name="locationDao" ref="locationDao" />
	</bean>
	<bean id="PageService" class="com.youthministry.service.impl.PageServiceImpl">
		<property name="pageDao" ref="pageDao" />
	</bean>
	<bean id="RendererService" class="com.youthministry.service.impl.RendererServiceImpl">
		<property name="rendererDao" ref="rendererDao" />
	</bean>
	<bean id="RoleService" class="com.youthministry.service.impl.RoleServiceImpl">
		<property name="roleDao" ref="roleDao" />
	</bean>
	<bean id="SiteService" class="com.youthministry.service.impl.SiteServiceImpl">
		<property name="siteDao" ref="siteDao" />
	</bean>
	<bean id="TemplateService" class="com.youthministry.service.impl.TemplateServiceImpl">
		<property name="templateDao" ref="templateDao" />
	</bean>
	<bean id="UserService" class="com.youthministry.service.impl.UserServiceImpl">
		<property name="userDao" ref="userDao" />
	</bean>

	<!-- DAO Declaration -->
	<bean id="contentDao" parent="abstractDao">
	    <property name="proxyInterfaces">
	        <value>com.youthministry.dao.ContentDao</value>
	    </property>
	    <property name="target">
	        <bean parent="abstractDaoTarget">
	            <constructor-arg>
	                <value>com.youthministry.domain.Content</value>
	            </constructor-arg>
	        </bean>
	    </property>
	</bean>	
	<bean id="eventDao" parent="abstractDao">
	    <property name="proxyInterfaces">
	        <value>com.youthministry.dao.EventDao</value>
	    </property>
	    <property name="target">
	        <bean parent="abstractDaoTarget">
	            <constructor-arg>
	                <value>com.youthministry.domain.Event</value>
	            </constructor-arg>
	        </bean>
	    </property>
	</bean>	
	<bean id="groupDao" parent="abstractDao">
	    <property name="proxyInterfaces">
	        <value>com.youthministry.dao.GroupDao</value>
	    </property>
	    <property name="target">
	        <bean parent="abstractDaoTarget">
	            <constructor-arg>
	                <value>com.youthministry.domain.Group</value>
	            </constructor-arg>
	        </bean>
	    </property>
	</bean>	
	<bean id="imageDao" parent="abstractDao">
	    <property name="proxyInterfaces">
	        <value>com.youthministry.dao.ImageDao</value>
	    </property>
	    <property name="target">
	        <bean parent="abstractDaoTarget">
	            <constructor-arg>
	                <value>com.youthministry.domain.Image</value>
	            </constructor-arg>
	        </bean>
	    </property>
	</bean>	
	<bean id="locationDao" parent="abstractDao">
	    <property name="proxyInterfaces">
	        <value>com.youthministry.dao.LocationDao</value>
	    </property>
	    <property name="target">
	        <bean parent="abstractDaoTarget">
	            <constructor-arg>
	                <value>com.youthministry.domain.Location</value>
	            </constructor-arg>
	        </bean>
	    </property>
	</bean>	
	<bean id="pageDao" parent="abstractDao">
	    <property name="proxyInterfaces">
	        <value>com.youthministry.dao.PageDao</value>
	    </property>
	    <property name="target">
	        <bean parent="abstractDaoTarget">
	            <constructor-arg>
	                <value>com.youthministry.domain.Page</value>
	            </constructor-arg>
	        </bean>
	    </property>
	</bean>	
	<bean id="rendererDao" parent="abstractDao">
	    <property name="proxyInterfaces">
	        <value>com.youthministry.dao.RendererDao</value>
	    </property>
	    <property name="target">
	        <bean parent="abstractDaoTarget">
	            <constructor-arg>
	                <value>com.youthministry.domain.Renderer</value>
	            </constructor-arg>
	        </bean>
	    </property>
	</bean>	
	<bean id="roleDao" parent="abstractDao">
	    <property name="proxyInterfaces">
	        <value>com.youthministry.dao.RoleDao</value>
	    </property>
	    <property name="target">
	        <bean parent="abstractDaoTarget">
	            <constructor-arg>
	                <value>com.youthministry.domain.Role</value>
	            </constructor-arg>
	        </bean>
	    </property>
	</bean>	
	<bean id="siteDao" parent="abstractDao">
	    <property name="proxyInterfaces">
	        <value>com.youthministry.dao.SiteDao</value>
	    </property>
	    <property name="target">
	        <bean parent="abstractDaoTarget">
	            <constructor-arg>
	                <value>com.youthministry.domain.Site</value>
	            </constructor-arg>
	        </bean>
	    </property>
	</bean>	
	<bean id="templateDao" parent="abstractDao">
	    <property name="proxyInterfaces">
	        <value>com.youthministry.dao.TemplateDao</value>
	    </property>
	    <property name="target">
	        <bean parent="abstractDaoTarget">
	            <constructor-arg>
	                <value>com.youthministry.domain.Template</value>
	            </constructor-arg>
	        </bean>
	    </property>
	</bean>	
	<bean id="userDao" parent="abstractDao">
	    <property name="proxyInterfaces">
	        <value>com.youthministry.dao.UserDao</value>
	    </property>
	    <property name="target">
	        <bean parent="abstractDaoTarget">
	            <constructor-arg>
	                <value>com.youthministry.domain.User</value>
	            </constructor-arg>
	        </bean>
	    </property>
	</bean>	

	<!-- Data Source Declaration -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/YouthMinistry" />
		<property name="username" value="root" />
		<property name="password" value="" />
	</bean>
	<!-- Session Factory Declaration -->
	<bean id="SessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="annotatedClasses">
			<list>
				<value>com.youthministry.domain.Event</value>
				<value>com.youthministry.domain.Group</value>
				<value>com.youthministry.domain.Page</value>
				<value>com.youthministry.domain.Image</value>
				<value>com.youthministry.domain.Location</value>
				<value>com.youthministry.domain.Content</value>
				<value>com.youthministry.domain.Renderer</value>
				<value>com.youthministry.domain.Template</value>
				<value>com.youthministry.domain.Site</value>
				<value>com.youthministry.domain.Role</value>
				<value>com.youthministry.domain.User</value>
				<value>com.youthministry.domain.UserProfile</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.enable_lazy_load_no_trans">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
	</bean>

	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate"
		c:_-ref="dataSource" />

	<!-- Enable the configuration of transactional behavior based on annotations -->
	<tx:annotation-driven transaction-manager="txManager" />

	<!-- Transaction Manager is defined -->
	<bean id="txManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="SessionFactory" />
	</bean>

</beans>