&.layout {

    .layout-information {
        .layout-name {

        }
        .layout-description {

        }
    }
    @include grid-settings( 16, 29px, 8px, 4 ) {
        .layout-grid-view {
            @include enable-font-feature-settings;
            margin: 0;
            @include container; // Set this element as the grid container
            margin-left: 0;
            margin-right: 0;

            :target & {
                @include susy-grid-background(); // Mixin to generate visual grid for testing
            }

            .layout-column-rows {
                @include span-columns( 16 omega, $total-columns );
            }

            .layout-row-columns {
                @include span-columns( 16 omega, $total-columns );
            }

            .layout-column {

                @include leader( 0.5 );
                min-height: 110px;
                background-color: $gray-light;

                @for $i from 0 to length($widths) {
                    &.#{nth($widths, $i+1)} {
                        @if $i+1 == length($widths) {
                            @include span-columns( $i+1 omega, $total-columns );
                        } @else {
                            @include span-columns( $i+1, $total-columns );
                        }
                    }
                }

                &.omega {
                    @include omega;
                }
            }
            .layout-row {
                @include span-columns( 16 omega, $total-columns );
                border: 2px solid $gray;
                padding: 10px;

                & .column-width {
                    @include span-columns( 3 omega, $total-columns)
                }
            }
        }
    }
}