// Grays
// ------------------------------
$black:         #000000;
$gray-darker:   #313233;
$gray-dark:     #494b4d;
$gray:          #616365;
$gray-light:    #bcbdbc;
$gray-lighter:  #e6e6e6;
$gray-lightest: #e0e1e0;
$white:         #ffffff;


// Greens
// -------------------------------
$green:        #69be28;

// Blues
// -------------------------------
$blue:         #4899e0;
$blue-light:         #418ac8;

// Button Colors
// -------------------------------
$button-color-secondary:    $blue;
$button-color-primary:      $blue-light;
