@import "susy";

// the default constructor
.container1 { @include container(); }

// a container with 12 columns instead
@include layout(12) {
    .container2 { @include container(); }
    // include any other coe that hsould use this grid...
}

// for a container with completely new settings the
// above values can just be overriden

.container3 { @include container(); }

// with this solution you just have to be careful
// that the correct variable values are being used for each block of code.
// you can simplify by making a mixin to handle it

@mixin grid-settings(
    $cols: $total-columns,
    $width: $column-width,
    $gutter: $gutter-width,
    $padding: $grid-patting
) {
    // keep the defaults around
    $default-cols: $total-columns;
    $default-width: $column-width;
    $default-gutter: $gutter-width;
    $default-padding: $grid-padding;

    // use the new settings
    $total-columns: $cols;
    $column-width: $width;
    $gutter-width: $gutter;
    $grid-padding: $padding;

    // apply to contents
    @content;

    // re-instate the defaults
    $total-columns: $default-cols;
    $column-width: $default-width;
    $gutter-width: $default-gutter;
    $grid-padding: $default-padding;
}

// now you can use it like this:
// @include grid-settings(12,3em,1.5em,1em) {
//    .container4 { @include container(); }
//}

@include border-box-sizing; 